{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "rules": {
        "indent": ["error", 4],
    },
    "parser": "babel-eslint",
    "parser-options": {
        "ecmaVersion": 6
    },
    "plugins": [
        "react"
    ],
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "ecmaFeatures": {
        "modules": true,
        "jsx": true
    },
    "sourceType": "module"
}
